.yazi {
  text-align: center;
  font-size: 2rem;
  width: 50vw;
  margin: 2rem auto;
}

/******************  ROTATE ***************/
.yazi1 {
  /* yazi elementinin kendisi dönüyor  */
  background-color: aqua;
  transform: rotateX(180deg);
}
.yazi2 {
  background-color: hotpink;
  transform: rotateY(180deg);
}
.yazi3 {
  background-color: tomato;
  transform: rotate(45deg);
}

/****************** SCALE *************/
.yazi4 {
  background-color: violet;
}
.yazi4:hover {
  /* 2 kat büyüttü */
  transform: scaleX(2) scaleY(3);
}
.yazi5 {
  background-color: yellowgreen;
}
.yazi5:hover {
  /* transform: scale(1.2, 1.2); */
  /*! her iki eksende de 1.2 büyür */
  transform: scale(1.2);
}

/**************** TRANSLATE *************** */
.translate {
  text-align: center;
  font-size: 1.5rem;
  width: 50vw;
  height: 10vw;
  margin: 10px auto;
  color: aliceblue;
}
.x {
  background-color: blue;
}
.x:hover {
  /* kutu şeklinde sağa doğru 50px kayar */
  transform: translateX(50px);
  transition-duration: 3s;
  transition-delay: 0.5s;
}
.y {
  background-color: slateblue;
  /* bg yi değiştirecek olursan 1s sonra değiştir */
  transition: background-color 0.5s;
}
.y:hover {
  transform: translateY(10px);
  transition-duration: 3s;
  background-color: black;
}
.xy {
  background-color: seagreen;
}
.xy:hover {
  transform: translate(50px, 50px);
}
.transition-div {
  text-align: center;
}
.transition-btn {
  width: 5rem;
  padding: 1rem;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  /* transition: background-color 1s, color 0.3s; */
  transition: all 1s; /*! bütün özellikleri takip et,değişiklik olursa 1 sn sonra değiştir */
}
.transition-btn:hover {
  background-color: lightseagreen;
  color: antiquewhite;
  padding: 1.1rem;
}
