* {
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(13, 55, 117);
$myLinkSize: 1.1rem;
$bannerBgColor: #cc6699;

body {
  font-family: $fontFamily;
  background-color: $bgColor;
  color: $fontColor;
  font-size: $fontSize;
}

//* ========== HEADER =============
header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;

  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
    padding: 0.2rem;
  }
  nav {
    a {
      color: $fontColor;
      text-decoration: none;
      padding: 0.5rem;
    }
    ul {
      list-style-type: none;
    }
    li {
      //! içinde bulunduğumuz elementi refere etmek için & işareti kullanılır
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//* ========== BANNER =============
main {
  .banner {
    background-color: $bannerBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    line-height: 2rem;
  }
  button {
    padding: 0.5rem;
    background-color: $navBgColor;
    border: none;
    border-radius: 10px;
    font-size: $myLinkSize;
    width: 9rem;
    margin: 2rem 0.5rem 0.1rem 0.5rem;
    &:hover {
      background-color: $bgColor;
      cursor: pointer;
    }
  }
  img {
    width: 100px;
    min-width: 300px;
    max-width: 400px;
  }
}

//* **********  CARDS ******/
//? @MIXIN **************
@mixin myBox($bgColor1, $fontColor1) {
  //! sabitleri direkt yaz,değiştirmek istediklerine değişken ata
  background-color: $bgColor1;
  color: $fontColor1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 15rem;
  border: $myBorder;
  border-radius: 5px;
  margin: 0.5rem;
}
.cards {
  display: flex;
  .card1 {
    @include myBox(brown, black);
    background-image: url("https://cdn.pixabay.com/photo/2022/05/11/22/17/flowers-7190313__340.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card2 {
    @include myBox(rgb(42, 165, 48), black);
    background-image: url("https://cdn.pixabay.com/photo/2020/07/28/11/43/circles-5444818__340.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card3 {
    @include myBox(rgb(50, 42, 165), red);
    background-image: url("https://cdn.pixabay.com/photo/2022/04/17/07/33/frame-7137533__340.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card4 {
    @include myBox(rgb(165, 42, 124), white);
    background-image: url("https://cdn.pixabay.com/photo/2022/04/15/18/32/cat-7134998__340.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//* **********  @EXTEND ******/
.articles {
  padding: 1rem;
  display: flex;
  .article1 {
    width: 50%;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    height: 10rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .article2 {
    @extend .article1;
    background-color: hotpink;
  }
}

//* **********  FOOTER ******/
//! **********  FOR LOOP ******/
$textColor: #990000, #55004e, #0fa8a1, #121456, #64c217;

.footer {
  .socialIcons {
    display: flex;
    height: 8rem;
    //? 5 dersek dahil etmez, o yüzden  dedik
    @for $i from 1 to 6 {
      .social#{$i} {
        width: 25%;
        height: 100%;
        // background-color: lighten($color: #08094e, $amount:
        //  $i * 12);
        background-color: darken($color: #5e60b8, $amount: $i * 5);
        color: nth($textColor, $i);
        font-size: $i * 1rem;
      }
    }
  }
}

$dark: 1;
//! IF ELSE *********************
.footer {
  @if $dark == 3 {
    background-color: wheat;
    color: black;
  } @else if $dark == 2 {
    background-color: gray;
  } @else {
    background-color: yellow;
  }
}
