* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 150px 50vw 150px;
  grid-template-rows: 100px 300px 20vh 5rem;
  /* justify-content: center; */
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: lightcyan;
  overflow: auto;
}
.content1 {
  background-image: url("https://cdn.pixabay.com/photo/2022/05/10/11/12/tree-7186835__480.jpg");
  background-size: cover;
}
.content9 {
  background-color: lightcoral;
}
